<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.2.2/anchor.min.js" integrity="sha256-E4RlfxwyJVmkkk0szw7LYJxuPlp6evtPSBDlWHsYYL8=" crossorigin="anonymous"></script>
<script>anchors.add('h2, h3, h4, h5');</script>
<script data-cfasync="false" src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.1/cookieconsent.min.js" integrity="sha256-5VhCqFam2Cn+yjw61zbBNrbHVJ6SRydPeKopYlngbiQ=" crossorigin="anonymous"></script>
<script>
window.addEventListener('load', function(){
  var isInDarkMode = false;
  if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
    isInDarkMode = true;
  }
  window.cookieconsent.initialise({
    revokeBtn: "<div class='cc-revoke'></div>",
    type: "opt-in",
    theme: "classic",
    palette: {
      popup: {
        background: isInDarkMode ? "#234" : "#eee",
        text: isInDarkMode ? "#fff" : "#889"
      },
      button: {
        background: isInDarkMode ? "#1bd" : "#58f",
        text: "#fff"
      }
    },
    location: false,
    content: {
      message: "This website, and third-party services used by this website, may use cookies for analytics and to provide social features.",
      link: "Privacy Policy",
      allow: "Allow Cookies",
      deny: "Decline",
      href: "{{ "/privacy/" | absolute_url }}"
    },
    onInitialise: function(status) {
      if (status == cookieconsent.status.allow) { cookiesAllowed(); } else { noCookiesAllowed(); }
    },
    onStatusChange: function(status) {
      if (this.hasConsented()) { cookiesAllowed(); } else { noCookiesAllowed(); }
    }
  })
});

function cookiesAllowed() {
  var isInDarkMode = false;
  var colorScheme = 'light';
  if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
    isInDarkMode = true; colorScheme = 'dark';
  }
//{% if site.google_analytics %} Google Analytics
  window['ga-disable-{{ site.google_analytics }}'] = false;
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.google_analytics }}', { 'anonymize_ip': true });
//{% endif %}
//{% if site.facebook_app %}{% unless page.nocomments and page.nolike %} Facebook Comments
//{% capture fbdisclaimer %}{% include fbdisclaimer.html %}{% endcapture %}
  var fbComments = document.getElementById('fbcomments');
  var fbLike = document.getElementById('fblike');
  if ((fbComments || fbLike) && !document.getElementById('fbjs')) {
    if (fbComments) {
      fbComments.setAttribute('data-colorscheme', colorScheme);
      var div = document.createElement('div');
      div.id = 'fbdisclaimer';
      div.innerHTML = '{{ fbdisclaimer | strip | normalize_whitespace | replace: singlequote, "&#39;" }}';
      fbComments.parentNode.insertBefore(div, fbComments.nextSibling);
    }
    if (fbLike) { fbLike.setAttribute('data-colorscheme', colorScheme); }
    var script = document.createElement('script');
    script.id = 'fbjs'; script.crossOrigin = 'anonymous'; script.async = true;
    script.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId={{ site.facebook_app }}';
    document.head.appendChild(script);
  }
//{% endunless %}{% endif %}
}

function noCookiesAllowed() {
//{% if site.google_analytics %} Google Analytics
  window['ga-disable-{{ site.google_analytics }}'] = true;
//{% endif %}
//{% if site.facebook_app %} Facebook
  var fbScript = document.getElementById('fbjs');
  if (fbScript) { fbScript.parentNode.removeChild(fbScript); }
//{% endif %}
}
</script>
