---
---

* {
    border: 0;
    margin: 0;
    padding:0
}

body, p, div, span, applet, object, iframe, img, blockquote, pre, abbr, acronym, ul, ol, li, dl, dd, dt, address, cite, code, kbd, samp, del, strong, sub, sup, tt, var, h1, h2, h3, h4, h5, h6, thead, table, tr, td, tbody {
    border: 0;
    margin: 0;
    padding: 0;
}

article, section, aside, footer, header, nav, hgroup {
    display:block
}

@import "{{ site.theme }}";

h1, h2, h3, h4, h5, h6, hr {
    clear: both;
}

#hdr {
    margin-bottom: 1.25em;
    background-color: #000;
    color: #666;
}
#hdr, #ftr {
    float: left;
    clear: both;
    width: 100%;
}
#ftr {
    color: #999;
    padding-top: .2em;
    margin-top: 1.3525em;
}
#hdr nav {
    padding-bottom: .2em;
    margin-bottom: 1.3625em
}

div.breadcrumbs {
    float: left;
    clear: left;
    margin-left: 1em;
    margin-right:2em
}

a.breadcrumb, a.tag {
    text-decoration:none
}

a.breadcrumb:visited {
    color:#06c
}

ul.tags {
    display: inline;
    list-style: none;
    padding: 0;
}
ul.tags li {
    display: inline
}
li.tag::after {
    content: ", "
}
li.tag:last-child::after {
    content: ""
}

a.breadcrumb:hover, a.breadcrumb:active, a.tag:hover, a.tag:active {
    text-decoration:underline
}

#hdr a.breadcrumb, #hdr a.breadcrumb:link, #hdr a.breadcrumb:visited {
    color:#ccc
}

#hdr a.breadcrumb:active, #hdr a.breadcrumb:hover {
    color:#fff
}

a.breadcrumb.current:link, a.breadcrumb.current:visited, a.breadcrumb.current {
    color:#666
}

#hdr a.breadcrumb.current:link, #hdr a.breadcrumb.current:visited, #hdr a.breadcrumb.current {
    color:#fff
}

div.breadcrumbs ul {
    margin: 0;
    padding: 0;
    display:inline
}

div.breadcrumbs ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    display:inline
}

#privacylink {
    font-size: 0.5em;
    text-align: center;
    margin-bottom: -2em;
}

#copyright {
    float: right;
    clear: right;
    text-align: right;
    margin-right:2em
}

#copyright a:link, #copyright a:visited {
    text-decoration: none;
    color: #000
}

#copyright a:hover, #copyright a:active {
    text-decoration: underline;
    color:#600
}

a img, :link img, :visited img {
    border:0
}

div.square.date {
    border: 1px solid #ccc;
    position: relative;
    padding: 1.75em .5em 0;
    margin-bottom:.1875em;
}

div.square.date span.day {
    display: block;
    font-size: 187.5%;
    line-height: 1em;
    letter-spacing: -0.1em;
    color: #555;
    position: absolute;
    left: .25em;
    top: 0;
    padding-top:.1em;
    font-family: Arial, Helvetica, sans-serif;
}

div.square.date span.month {
    display: block;
    min-width: 1.7em;
    color: #555;
    text-transform: uppercase;
    font-size: 125%;
    padding-bottom:.1em;
}

div.square.date span.year {
    display: block;
    position: absolute;
    letter-spacing: 0;
    font-size: 75%;
    right: -0.25em;
    top: .9em;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

del, .strike {
    text-decoration:line-through
}

a:hover {
    text-decoration: underline;
}

.markdown-body hr {
    background: #fff;
    border-bottom: 1px solid #eaecef;
}

.post-title {
    font-style: normal;
}
.post-date, .post-tags {
    font-size: 0.5em;
    float: right;
    text-align: right;
    vertical-align: bottom;
    max-width: 20%;
    clear: right;
}
.post-date {
    margin-right: 16px;
}
.post-desc {
    color: #666;
    max-width: 75%;
    clear: left;
    float: left;
}
dd, dt {
    clear: both;
}

.highlight .nf { font-weight: normal; }
.highlight .o { font-weight: normal; }
table.rouge-table tr, table.rouge-table td {
    border: none;
    padding: 0;
}
pre.highlight table.rouge-table, .markdown-body figure.highlight table.rouge-table {
    margin: -16px;
}
/* figure.highlight { margin: 0; } */

pre code {
    white-space: pre;
}
.lineno {
    color: #ddd;
}
.highlight .cp { color: #060; }
.highlight .cm, .highlight .c1, .highlight .cs, .highlight .c, .highlight .cd {
    color: #a5a5a5;
}
.highlight .kc { color: #009; }
.highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .k, .highlight .kv {
    color: #000;
}
.highlight .m, .highlight .mb, .highlight .mx, .highlight .il {
    color: #03a;
}
.highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
    color: #03a;
}
.highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss, .highlight .s {
    color: #e60;
}
.highlight .se { color: #e30; }
.highlight .bp { color: #999; }
.highlight .na, .highlight .nb, .highlight .nc, .highlight .no, .highlight .nd, .highlight .ni, .highlight .ne, .highlight .nl, .highlight .nn, .highlight .nt {
    color: #333;
}
.highlight .nf { color: #000; }
.highlight .nv { color: #036; }
.highlight .vc { color: #09a; }
.highlight .vg, .highlight .vi {
    color: #09f;
}

.highlight .ow { color: #000; }
.highlight .o { color: #069; }

.markdown-body pre code, .markdown-body pre tt { max-width: 100%; }
.markdown-body li { word-wrap: break-word; }
td.rouge-gutter pre.lineno { text-align: right; }

@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background-color: #000;
    }
    a, .link-hover-blue:hover, .muted-link:hover {
        color: #00eeff;
    }
    .muted-link, .lead, .markdown-body h6 {
        color: #ccddee;
    }
    .text-emphasized {
        color: #ccffff;
    }
    .markdown-body .absent {
        color: #ff2431;
    }
    hr, .rule {
        border-bottom: 1px solid #069;
    }
    .markdown-body hr {
        background-color: #000;
        border-bottom: 1px solid #069;
    }
    .markdown-body h1, .markdown-body h2 {
        border-bottom: 1px solid #069;
    }
    fieldset {
        border: 1px solid #069;
    }
    .border {
        border: 1px solid #069 !important;
    }
    .border-top {
        border-top: 1px solid #069 !important;
    }
    .border-bottom {
        border-bottom: 1px solid #069 !important;
    }
    .border-left {
        border-left: 1px solid #069 !important;
    }
    .border-right {
        border-right: 1px solid #069 !important;
    }
    .border-y {
        border-top: 1px solid #069 !important;
        border-bottom: 1px solid #069 !important;
    }
    .markdown-body blockquote {
        color: #99eecc;
        border-left: 0.25em solid #096;
    }
    .markdown-body h1 .octicon-link, .markdown-body h2 .octicon-link, .markdown-body h3 .octicon-link, .markdown-body h4 .octicon-link, .markdown-body h5 .octicon-link, .markdown-body h6 .octicon-link {
        color: #cec;
    }
    .markdown-body table th, .markdown-body table td {
         border: 1px solid #069;
    }
    .markdown-body table tr {
        background-color: #000;
        border-top: 1px solid #069;
    }
    .markdown-body table tr:nth-child(2n) {
        background-color: #001;
    }
    .markdown-body img {
        background-color: #000;
    }
    .markdown-body span.frame > span {
        border: 1px solid #069;
    }
    .markdown-body span.frame span span {
        color: #069;
    }
    .markdown-body code, .markdown-body tt {
        background-color: rgba(200, 250, 255, 0.05);
    }

    .markdown-body .highlight pre, .markdown-body pre {
        background-color: #111;
    }
    .lineno {
        color: #333;
    }
    .highlight { background-color: #111; }
    .highlight .cp { color: #3c3; }
    .highlight .cm, .highlight .c1, .highlight .cs, .highlight .c, .highlight .cd {
        color: #999;
    }
    .highlight .err {
        color: #ff3333;
        background-color: #000;
    }

    .highlight .kc { color: #9ef; }
    .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .k, .highlight .kv {
        color: #fff;
    }
    .highlight .m, .highlight .mb, .highlight .mx, .highlight .il {
        color: #00cccc;
    }
    .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss, .highlight .s {
        color: #3cf;
    }
    .highlight .se { color: #3ff; }
    .highlight .bp { color: #ccc; }
    .highlight .na, .highlight .nb, .highlight .nc, .highlight .no, .highlight .nd, .highlight .ni, .highlight .ne, .highlight .nl, .highlight .nn, .highlight .nt {
        color: #eee;
    }
    .highlight .nf { color: #fff; }
    .highlight .nv { color: #eef; }
    .highlight .vc { color: #3ef; }
    .highlight .vg, .highlight .vi {
        color: #3cf;
    }
    .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
        color: #3ff;
    }
    .highlight .ow { color: #fff; }
    .highlight .o { color: #9ef; }
    .highlight .w { color: #666; }
    .highlight .gd {
        color: #fff;
        background-color: #300;
    }
    .highlight .ge { color: #fff; }
    .highlight .gr { color: #ff5599; }
    .highlight .gh { color: #ccc; }
    .highlight .gi {
        color: #fff;
        background-color: #060;
    }
    .highlight .go { color: #ccf; }
    .highlight .gp { color: #ded; }
    .highlight .gu { color: #ddd; }
    .highlight .gt { color: #dd3399; }

    table.rouge-table tr, table.rouge-table td.rouge-code, table.rouge-table td.rouge-gutter {
        border: none;
        padding: 0;
    }

    a.breadcrumb:visited { color: #0ef; }

    #copyright a:link, #copyright a:visited {
        color: #eee;
    }

    #copyright a:hover, #copyright a:active {
        color:#fff;
    }

    div.square.date {
        border: 1px solid #069;
    }

    div.square.date span.day {
        color: #9cf;
        position: absolute;
        left: .25em;
        top: 0;
        padding-top:.1em;
        font-family: Arial, Helvetica, sans-serif;
    }

    div.square.date span.month {
        color: #9cf;
    }

    div.square.date span.year {
        color: #cff;
    }
}
