---
---

* {
    border: 0;
    margin: 0;
    padding:0
}

body, p, div, span, applet, object, iframe, img, blockquote, pre, abbr, acronym, ul, ol, li, dl, dd, dt, address, cite, code, kbd, samp, del, strong, sub, sup, tt, var, h1, h2, h3, h4, h5, h6, thead, table, tr, td, tbody {
    border: 0;
    margin: 0;
    padding: 0;
}

article, section, aside, footer, header, nav, hgroup {
    display:block
}

@import "{{ site.theme }}";

#hdr {
    margin-bottom: 1.25em;
    background-color: #000;
    color: #666;
}
#hdr, #ftr {
    float: left;
    clear: both;
    width: 100%;
}
#hdr nav {
    padding-bottom: .2em;
    margin-bottom: 1.3625em
}
#ftr nav {
    padding-top: .2em;
    margin-top: 1.3625em
}

div.breadcrumbs {
    float: left;
    margin-left: 1em;
    margin-right:2em
}

a.breadcrumb, a.tag {
    text-decoration:none
}

a.breadcrumb:visited {
    color:#06c
}

ul.tags {
    display: inline;
    list-style: none;
    padding: 0;
}
ul.tags li {
    display: inline
}
li.tag::after {
    content: ", "
}
li.tag:last-child::after {
    content: ""
}

a.breadcrumb:hover, a.breadcrumb:active, a.tag:hover, a.tag:active {
    text-decoration:underline
}

#hdr a.breadcrumb, #hdr a.breadcrumb:link, #hdr a.breadcrumb:visited {
    color:#ccc
}

#hdr a.breadcrumb:active, #hdr a.breadcrumb:hover {
    color:#fff
}

a.breadcrumb.current:link, a.breadcrumb.current:visited, a.breadcrumb.current {
    color:#ccc
}

#hdr a.breadcrumb.current:link, #hdr a.breadcrumb.current:visited, #hdr a.breadcrumb.current {
    color:#fff
}

div.breadcrumbs ul {
    margin: 0;
    padding: 0;
    display:inline
}

div.breadcrumbs ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    display:inline
}

#copyright {
    float: right;
    clear: right;
    text-align: right;
    margin-right:2em
}

#copyright a:link, #copyright a:visited {
    text-decoration: none;
    color: #000
}

#copyright a:hover, #copyright a:active {
    text-decoration: underline;
    color:#600
}

a img, :link img, :visited img {
    border:0
}

div.square.date {
    border: 1px solid #ccc;
    position: relative;
    padding: 1.75em .5em 0;
    margin-bottom:.1875em;
}

div.square.date span.day {
    display: block;
    font-size: 187.5%;
    line-height: 1em;
    letter-spacing: -0.1em;
    color: #555;
    position: absolute;
    left: .25em;
    top: 0;
    padding-top:.1em;
    font-family: Arial, Helvetica, sans-serif;
}

div.square.date span.month {
    display: block;
    min-width: 1.7em;
    color: #555;
    text-transform: uppercase;
    font-size: 125%;
    padding-bottom:.1em;
}

div.square.date span.year {
    display: block;
    position: absolute;
    letter-spacing: 0;
    font-size: 75%;
    right: -0.25em;
    top: .9em;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

del, .strike {
    text-decoration:line-through
}

a:hover {
    text-decoration: underline;
}

.post-title {
    font-style: normal;
}
.post-date, .post-tags {
    font-size: 0.5em;
    float: right;
    text-align: right;
    vertical-align: bottom;
    max-width: 20%;
    clear: right;
}
.post-date {
    margin-right: 16px;
}
.post-desc {
    color: #666;
    max-width: 75%;
    clear: left;
    float: left;
}
dd, dt {
    clear: both;
}
