<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}"><head>
{%- capture newline %}
{% endcapture -%}{% capture singlequote %}'{% endcapture %}
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}" />
  {% if page.layout == "category" %}
  {% capture category_feed %}/feed/{{ page.title | slugify }}.xml{% endcapture %}
  <link rel="alternate" type="application/atom+xml" href="{{ category_feed | absolute_url }}" title="{{ page.title }} on {{ site.title }} atom feed"/>
  {% else %}
  <link rel="alternate" type="application/atom+xml" href="{{ "/feed/atom.xml" | absolute_url }}" title="{{ site.title }} atom feed" />
  {% endif %}
  {% seo %}
  {% unless page.noscripts %}{% include scripts_head.html %}{% endunless %}
  </head><body><header><div id="hdr">{% include breadcrumbs.html %}</div></header>
  <div class="container-lg px-3 markdown-body"><main>
    {{ content }}
  </main></div><footer><div id="ftr">
    {% if page.privacylink %}
    <div id="privacylink"><a href="{{ "/privacy/" | absolute_url }}">Privacy Policy</a></div>
    {% endif %}
    {% include breadcrumbs.html %}
    <div id="copyright">© {{ 'now' | date: '%Y' }} <a rel="author" href="#email" id="email" data-me="kk" data-domain="arkku" data-tld="com" onclick="window.location.href = 'mailto'+':'+this.dataset.me+'@'+this.dataset.domain+'.'+this.dataset.tld; return false;">Kimmo Kulovesi</a></div>
  </div></footer>
  {% unless page.noscripts %}{% include scripts.html %}{% endunless %}
  </body></html>
